body {
    color: #212529;
}

.header_wrapper {
    padding: 0;
}
.header_wrapper .navbar {
    padding-left: 20px;
    padding-right: 20px;
}
.header_wrapper .navbar-collapse {
    justify-content: flex-end;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

@media (max-width: 992px) {
    .hidden-small {
        display: none;
    }
}